* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #9c9c9c;
}

#container {
    background: #2ccba4;
    margin: 100px auto;
    width: 60%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#header {
    width: 100%;
    height: 150px;
    background: #ca3a3a;
    display: flex;
    justify-content: center;
    align-items: center;
}

#center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 400px;
}

#imageOne, #imageTwo, #imageThree {
    width: 33.333%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageOne {
    background: #6fb727;
}

#imageTwo {
    background: #2fd3df;
}

#imageThree {
    background: #8c27b7;
}

#footer {
    width: 100%;
    height: 150px;
    background: #3a6fca;
    display: flex;
    justify-content: center;
    align-items: center;
}
